<!--<nb-card>
  <nb-card-header>Enter your name</nb-card-header>
  <nb-card-body>
    <input #name nbInput placeholder="Name">
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)">Submit</button>
  </nb-card-footer>
</nb-card>-->
<nb-card class="statistics-card">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <!-- Display the statistics here -->
    <div class="statistic">
      <span class="label">Average Charge ESD:</span>
      <span class="value">{{ averageChargeEsd }}</span>
    </div>
    <div class="statistic">
      <span class="label">Under 40:</span>
      <span class="value under40">{{ under40Percentage }}%</span>
    </div>
    <div class="statistic">
      <span class="label">40-80:</span>
      <span class="value between40And80">{{ between40And80Percentage }}%</span>
    </div>
    <div class="statistic">
      <span class="label">Over 80:</span>
      <span class="value over80">{{ over80Percentage }}%</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="noselect" (click)="dismiss()" ><span class="text">close</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>

  </nb-card-footer>
</nb-card>




