<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <div>
           <!-- <button (click)="addAlert()">Add Alert</button>-->
          <!--  <table>
              <thead>
              <tr>
                <th>Message</th>
                <th>Timestamp</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let alert of alerts">
                <td>{{ alert.message }}</td>
                <td>{{ alert.timestamp.toDate() | date: 'short' }}</td>
              </tr>
              </tbody>
            </table>-->
          </div>
          <h2 class="title">404 Page Not Found</h2>
          <small class="sub-title">you don't have the permissions to read the data of the page you're looking for </small>
          <button nbButton fullWidth (click)="redirectToFlaskApp()"  type="button" class="home-button">
            Take me home
          </button>

        </div>



    <!--    <iframe
          id="chatbotFrame"
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/5907e598-3b1c-4e24-8f43-c0a6a9460896">
        </iframe>-->





      </nb-card-body>
    </nb-card>
  </div>
</div>

