@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button + button {
    margin-left: 2rem;
  }

  @include media-breakpoint-down(xxl) {
    nb-card-body {
      display: flex;
    }

    button {
      flex: 1;
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card-body {
      display: block;
    }

    button {
      + button {
        margin-left: 0;
      }

      width: 100%;
      display: block;
      margin-bottom: 2rem;
      padding: 0.75rem;
    }
  }
}
.custom-window-content {
  background-color: #c6edee;
  padding: 20px;
}

/* Custom style for the window itself */
.custom-window {
background-color: red;
border: 2px solid #0b7bfa;
box-shadow: 0px 0px 10px rgb(11, 123, 250);
}
