@import '../../../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  flex: 1;

  .echart {
    display: block;
    width: 100%;
    height: 100%;
  }

  .echart-container {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  :focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }

  .mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }

  .mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
  }

  label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
  }

  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }

  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
  $button-bg: #0D52E9;
  $speed: 0.6s;
  $delay: ($speed * .5);
  $easing: cubic-bezier(.55,0,.1,1);


  /**
   * Base styles
   */
  body,
  html {
    background: #080616;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 60px 0 30px 0;
    color: #fff;
  }

  button {
    background-color: $button-bg;
    position: relative;
    color: #fff;
    border: none;
    padding: 1.25em 2em;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    transition: background 0.25s $easing;

    &:hover {
      background: darken($button-bg, 3%);
    }

    &:focus {
      outline: none;
    }
  }


  nb-card-body {
    display: block;

    button {
      width: 100%;
      margin-bottom: 2rem;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .result-from-dialog {
    flex-direction: column;
  }

  .form-input-card {
    nb-card-body {
      display: block;
    }
  }

  @include media-breakpoint-down(lg) {
    button {
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    button {
      padding: 0.75rem;
    }
  }
}

